/* Background color of navbar */
.navbar-custom {
    background-color: #F23030;
}
.navbar-text {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.navbar-brand {
    background-position: 10px center;
    padding-left: 49px;
}
#hero {
    padding-right: 0px;
    padding-left: 0px;
    position: relative; 
}

#heroh1 {
    position: absolute;
    color: #DE0100;
    font-size: 4rem;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    bottom: 305px;
    right: 291px;
    font-weight: 800;
    text-shadow: 1px 2px 6px #CD1114;
}

#heroh2 {
    position: absolute;
    color: #FFD703;
    font-size: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    bottom: 393px;
    right: 366px;
    text-shadow: 0px 0px 9px #FFDD14;
}

