/* Background color of navbar */
.navbar-custom {
    background-color: #F23030
}
.navbar-text {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.navbar-brand {
 
    padding-left: 80 px;
    background-position: 13px center;
}
#hero {
    padding-right: 0px;
    padding-left: 0px;
}

