/* Background color of navbar */
.navbar-custom {
    background-color: #F23030
}
.navbar-brand {
    background-repeat: no-repeat;
    background-image: url(file:///Macintosh%20HD/Users/rouidasherif/Desktop/IMEM/Year%202/Projects/PRJ%204%20/GitHub/PRJ3-chapter-5/images/fork.svg);
    background-size: 40px auto;
    padding-left: 55px;
    background-position: 13px center;
}
